body {
  color: white;
  background:
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('noise.svg');
}


/* NAV BAR */

.navbar{
  background:
  linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('noise.svg');
  
}

.navbarlogo{
  width: 100px;
  height: auto;
}

.navbar-toggler-icon {
  background-color: white; /* Cambia el color del icono del toggler a blanco */
}

.navbar-nav .nav-link {
  color: white; 
  margin-right: 80px;
  margin-left: 20px; 
  font-size: 20px;
}

.navbar-nav .nav-link-home:hover{
  color: rgb(138, 0, 0);
}

.navbar-nav .nav-link-projects:hover{
color: orange;
}

.navbar-nav .nav-link-resume:hover{
  color: rgb(13, 148, 211);
}

.navbar-nav .nav-link-contact:hover{
    color: rgb(61, 61, 61);
}

/* MAIN BANNER */

.LogoBanner{
  height: 100px;
  width: auto;
}
.containerBanner .row {
  position: relative; /* Asegura que los elementos internos estén posicionados relativamente */
  z-index: 1; /* Asegura que el contenido esté por encima de las capas de fondo */
}

.containerBanner {
  position: relative; 
  background: 
  linear-gradient(to right, url('noise.svg'), 
  #b40107 20%,orange 30%,#0683a9 40%,black 80%,black 90%);
}

.containerBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #b40107 20%, orange 30%, #0683a9 40%, black 80%, black 90%);
  opacity: 0.7; /* Opacidad del gradiente */
}

.containerBanner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('noise.svg');
  opacity: 0.2; /* Opacidad de la textura */
}

.mainBanner h1{
  font-size: 70px;
}

.personalPicture{
  width: 300px;
  height: auto;

}


/* ABOUT ME */

.containerAboutMe{
  background-color: black;
}

.AboutMeDescription{
  font-size: 18px;
}

.AboutMeButtons {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos al principio y al final del contenedor */
}


/* RESUME */

.resumeTitle{
  font-size: 60px;

}

.ResumeContainer h5{
  font-size: 24px;
}

.EducationTitle::marker{
  color: rgb(138, 0, 0);
}

.softwareTitle::marker{
  color: orange;
}
.servicesTitle::marker{
  color: rgb(17, 97, 167);
}
.codingTitle::marker{
  color: black;
}

.Resume{
  padding-top: 80px;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 10px;
}

.ResumeContainer{
  background-color: black;
}

.ResumeContainer p{
  font-size: 14px;
  margin: 5px;
}


.ColorCircle {
  width: 60%;
  position: absolute;
}



.downloadcvbtn{
  background-color: black;
}

/* PROJECT CARDS */
.projectsTitle {
  font-size: 60px;
}

.card {
  height: auto;
  width: 80%;
  background-color: #3e3e3e5a;
  padding: 3px;
  border-radius: 10px; 
  transition: all 0.3s ease; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  border: 0px; 
}

.card:hover {
  transform: scale(1.05); /* Aumentamos el tamaño al hacer hover */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Hacemos que la sombra sea más pronunciada */
}



.projectsContainer {
  position: relative;
}

.bgcircle-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bgcircle-container-Portfolio img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 60%;
  height: auto;
  margin-top: 150px;
}

.card-title{
  color: white;
}

.ProjectMockupCover{
  width: auto;
  height: 500px;
}

/* CONTACT  */


/* SOCIAL MEDIA */

.contactMeTitle{
  font-size: 60px;
}

.socialMediaIcon{
  font-size: 35px;
  margin-top: 15px;
}

.socialMedia a:link,
.socialMedia a:visited{
  color: white !important;
	text-decoration: none;
}

.socialMedia a:hover,
.socialMedia a:active {
	color: white;
	text-decoration: none;
	transition: color 0.4s;
}

.fa-facebook-f:hover{
	color: #1877f2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}


.fa-instagram:hover{
	color: #c32aa3;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}


.fa-whatsapp:hover{
	color: #25d366;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.fa-linkedin:hover{
	color: #1877f2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}




  /* DIVISOR */

  .divisor {
    position: relative; /* Asegúrate de que el divisor tenga una posición relativa */
    height: 5px;
    width: 100%;
  }
  
  .divisor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #B91B20 20%, orange 30%, #0893BC 40%, black 80%, black 90%);
    opacity: 0.7; /* Opacidad del gradiente */
    z-index: -1; /* Asegura que el gradiente esté detrás del contenido */
  }
  
  .divisor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('noise.svg');
    opacity: 0.5; /* Opacidad de la textura */
    z-index: -2; /* Asegura que la textura esté detrás del contenido */
  }
  

  /* FOOTER */


.FooterContainer{
  background-color: black;
}

.LogoBanner2{
  width: auto;
  height: 80px;
}

.flagIcon{
  width: auto;
  height: 20px;

}

.privacyPolicyLink, .privacyPolicyLinkA{
  text-decoration: none;
  color: white;
  
}

.privacyPolicyLink:hover{
  color: rgb(114, 114, 114);
}


/* ARROW UP  */
#arrowUpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7e7e7e;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

#arrowUpBtn:hover {
  background-color: RED;
}

